extends layout

block content
  h1 Mini message board

  ul
    each datas in data
      li
        p(class="user")=datas.user
        p=datas.text
        p=datas.date
  a(href="/new") fill out the form
